@font-face {
    src: url(MonomakhUnicode.otf);
    font-family: 'Monomakh';
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Monomakh';
}

::-webkit-scrollbar
{
	width: 0;
}

body{
    background-image: url(im/back.jpg);
    background-size: cover;
}

.page{
    height: 100%;
    width: 100%;
    display: flex;
}

.smooch{
    height: 60px;
    width: 65px;
    margin: 10px 0 0 10px;
    display: block;
    background-image: url(im/smooch.webp);
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: absolute;
}

.smooch_text{
    color: #4e0714;
    font-size: small;
    margin-left: 12vh;
    width: 10vh;
}

.menu{
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5vh;
    background-color: rgba(243, 235, 207, 0.6);
    justify-content: space-evenly;
    box-shadow: 0 0 20px #f5dfe6;
}

.game{
    width: 40%;
    height: 40%;
    margin-top: 3vh;
    display: flex;
    position: relative;
    box-shadow: 3px 3px 4px #ac4b67;
    border-radius: 5vh;
    border: none;
    overflow: hidden;
}

.game1, .game2, .game3, .game4{
    width: 100%;
    height: 100%;
    transition: transform .9s ease-in-out;
}

.game1:hover, .game2:hover, .game3:hover, .game4:hover{
    transform: scale(1.1);
}

.game1{
    background-image: url(im/game1.jpg);
    background-position: center;
    background-size: cover;
}

.game2{
    background-image: url(im/game2.jpg);
    background-position: center;
    background-size: cover;
}

.game3{
    background-image: url(im/game3.jpg);
    background-position: center;
    background-size: cover;
}

.game4{
    background-image: url(im/game4.jpg);
    background-position: center;
    background-size: cover;
}

.back{
    z-index: 2;
    margin-top: 12px;
    margin-left: -35px;
    height: 25px;
    width: 75px;
    border-radius: 1.5vh;
    border: 1px groove #4e0714;
    background-color: #781727;
    color: #e2b3c2;
    text-shadow: 1px 1px 2px #f5dfe6;
    font-weight: 500;
}

.game_text{
    margin-bottom: 2vh;
    text-align: center;
    color:#4e0714;
    font-weight: 500;
    text-shadow: 3px 3px 4px #ac4b67;
}

.cur_game{
    display:none;
}

.current_game{
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 2vh;
    overflow: hidden;
}

.current_game1{
    height: 100%;
    width: 100%;
    background-image: url(im/valentine.jpg);
    background-position: center;
    background-size: cover;
    display: none;
}

.current_game2{
    height: 100%;
    width: 100%;
    border: none;
    display: none;
    background-image: url(w/w1.jpg);
    background-position: center;
    background-size: cover;
}

.current_game3{
    display: none;
    height: 100%;
    width: 100%;
}

.current_game4{
    height: 100%;
    width: 100%;
    border: none;
    display: none;
    background-image: url(v/v1.jpg);
    background-position: center;
    background-size: cover;
}

.gen{
    z-index: 2;
    position: absolute;
    height: 30px;
    width: 80px;
    border-radius: 1.5vh;
    border: 1px groove #4e0725;
    background-color: #f5dfe6;
    color: #781727;
    font-weight: 500;
    margin-top: -20px;
    right: 210px;
    text-align: center;
    display: none;
}

.gen1{
    z-index: 2;
    position: absolute;
    height: 30px;
    width: 80px;
    border-radius: 1.5vh;
    border: 1px groove #4e0725;
    background-color: #f5dfe6;
    color: #781727;
    font-weight: 500;
    margin-top: -20px;
    right: 210px;
    text-align: center;
    display: none;
}

.music{
    height: 100%;
    width: 100%;
    background-image: url(im/music.jpg);
    background-position: center;
    background-size: cover;
}

@media (max-width: 1180px){
   
    .smooch{
        height: 100px;
        width: 100px;
    }
    
    .smooch_text{
        font-size: 25px;
        width: 50vh;
        margin-left: 110px;
        margin-top: 10px;
    }
    
    .menu{
        height: 600px;
        width: 600px;
        margin: auto;
        margin-top: 110px;
    }

    .back{
        margin-top: 12px;
        margin-left: -65px;
        height: 38px;
        width: 113px;
        font-weight: 100;
        font-size: 15px;
    }

    .current_game{
        height: 450px;
        width: 450px;
    }

    .game_text{
        margin-bottom: 2vh;
        font-size: 30px;
    }

    .gen{
        height: 35px;
        width: 100px;
        margin-top: -20px;
        font-size: 20px;
        left: 250px
    }

    .gen1{
        height: 35px;
        width: 100px;
        margin-top: -20px;
        font-size: 20px;
        left: 250px
    }

    .music{
        height: 450px;
        width: 450px;
    }
}

@media (max-width: 820px){
   
    .smooch{
        height: 100px;
        width: 100px;
    }
    
    .smooch_text{
        font-size: 25px;
        width: 50vh;
        margin-left: 110px;
        margin-top: 10px;
    }
    
    .menu{
        height: 700px;
        width: 700px;
        margin: auto;
        margin-top: 240px;
    }

    .back{
        margin-top: 15px;
        margin-left: -75px;
        height: 50px;
        width: 150px;
        font-weight: 100;
        font-size: 20px;
    }

    .current_game{
        height: 500px;
        width: 500px;
    }

    .game_text{
        margin-bottom: 2vh;
        font-size: 30px;
    }

    .gen{
        height: 55px;
        width: 200px;
        margin-top: -20px;
        font-size: 30px;
        right: 450px;
        bottom: 10px;
    }

    .gen1{
        height: 55px;
        width: 200px;
        margin-top: -20px;
        font-size: 30px;
        right: 450px;
        bottom: 10px;
    }

    .music{
        height: 500px;
        width: 500px;
    }
}


@media (max-width: 415px){
      
    .smooch{
        height: 70px;
        width: 70px;
    }
    
    .smooch_text{
        font-size: 25px;
        width: 50vh;
        margin-left: 80px;
        margin-top: 10px;
    }
    
    .menu{
        height: 350px;
        width: 350px;
        margin: auto;
        margin-top: 240px;
    }

    .back{
        margin-top: 15px;
        margin-left: -20px;
        height: 25px;
        width: 75px;
        font-weight: 100;
        font-size: 10px;
    }

    .current_game{
        height: 270px;
        width: 270px;
    }

    .game_text{
        margin-bottom: 2vh;
        font-size: 15px;
    }

    .gen{
        height: 25px;
        width: 75px;
        font-size: 10px;
        left: 140px;
        top: 350px
    }

    .gen1{
        height: 25px;
        width: 75px;
        font-size: 10px;
        left: 140px;
        top: 350px
    }

    .music{
        height: 270px;
        width: 270px;
    }

    
}
